<footer>
    <div id="footer">
        <div id="div_left">Haken 2014 derechos reservados</div>
        <div id="div_right">
            <div class="iconos"><a href="https://www.facebook.com/pages/Haken/149147748447698?fref=ts"><img src="img/icono_face.png" alt="" /></a></div>
            <div class="iconos"><a href="https://twitter.com/HakenMerida"><img src="img/icono_twitter.png" alt="" /></a></div>
            <div class="iconos" id="div_noticias"><a href="../haken14/noticias.php">NOTICIAS</a></div>
        </div>
    </div>
</footer>